extends layout

block content
  img(src='/img/knight.png', width='122', height='122', class='knight')
  h1 About Kish Chess
  p(style='margin: 50px 0;') Kish Chess is an open source, real-time chess app built in
    a(href='http://nodejs.org/') Node
    | , 
    a(href='http://expressjs.com/') Express
    | , 
    a(href='http://socket.io/') Socket.IO
    | , 
    a(href='http://facebook.github.io/react/') React
    | , 
    a(href='http://facebook.github.io/flux/') Flux
    | , and 
    a(href='http://facebook.github.io/immutable-js/') Immutable
    | . Kish Chess also uses&nbsp;
    a(href='http://github.com/jhlywa/chess.js') chess.js
    |  for move validation and check/mate/draw detection. It's based on&nbsp;
    a(href='https://github.com/romanmatiasko/reti-chess') Reti Chess

  h2 Why Kish?
  p Kish is the equivalent of check in Persian.

  h2 What features are supported?
  p This is a lightweight version of chess. You can only play real-time against the human, an AI is not available.
    | Kish Chess supports simple chat and also timer. You can set timer up to 50 minutes with increment of max 50 seconds per side.
    | If you reload the window or disconnect from the game, the game will be cancelled.

  p(style='margin-top: 50px')
    a(href='/', class='btn', style='float: none;') Home
